.containerLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--secondary-301);
}

.loginCard {
  border-radius: 0.8rem;
  border: 0.1rem solid rgba(255, 238, 229, 0.15);
  background: var(--secondary-302);
  box-shadow: 0rem 0.4rem 0.6rem 0rem rgba(160, 77, 24, 0.15);
  padding: 2rem;
}

.loginForm {
  display: flex;
  padding: 3.2rem;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  border-radius: 0.8rem;
  background: var(--secondary-301);
}

.loginForm h1 {
  font: var(--font-h2);
  font-size: var(--size-medium);
  color: var(--primary-01);
  text-align: center;
  line-height: 4rem;
}

.loginForm h3 {
  color: var(--primary-02);
  font: var(--font-h3);
}

.btn-Login {
  padding: 1.6rem 11.9rem;
  cursor: pointer;
  border-radius: 0.8rem;
  background-color: var(--primary-02);
  color: var(--secondary-301);
  font: var(--plain-text-bold);
}

.login-button-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-button-container a {
  color: var(--secondary-02);
  font: var(--plain-text-regular);
}

.emailInput {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.emailInput p {
  font: var(--legend-text);
  color: var(--primary-02);
}

.inputsLogin {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 38.4rem;
}

.error {
  font: var(--legend-text-bold);
  color: red;
}

@media (max-width: 500px) {
  .loginCard {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 1rem 2rem;
  }

  .loginForm {
    width: 100%;
  }

  .inputsLogin {
    width: 100%;
  }
}
