.containerLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--secondary-301);
}

.loginCard{
  width: 48.8rem;
  height: 57.2rem;
  border-radius: 0.8rem;
  border: 0.1rem solid rgba(255, 238, 229, 0.15);
  background: var(--secundria-302, #FFEFE5);
  box-shadow: 0rem 0.4rem 0.6rem 0rem rgba(160, 77, 24, 0.15);
  padding: 2rem;
}

.loginForm{
  display: flex;
  width: 44rem;
  height: 52.4rem;
  padding: 3.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;

  border-radius: 0.8rem;
  background: var(--secundria-301, #FFF7F2);
}

.loginForm h1{
  font: var(--font-h1);
  color: var(--secondary-01);
}

.btn-Login{
  display: flex;
  width: 38.4rem;
  height: 4.8rem;
  padding: 1.6rem 11.9rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  
  border-radius: 0.8rem;
  background-color:var(--primary-02);
  color: var(--secondary-301);
  font:var(--plain-text-bold);
}

.button {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button a {
  color:var(--secondary-01);
  font: var(--plain-text-regular);
}

.emailInput{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.emailInput p{
  font: var(--legend-text);
  color: var(--primary-02);
}