.containerLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FFF7F2;
}

.loginCard{
  background-color: #FFEFE5; 
  width: 488px;
  height: 572px;
  border-radius: 8px;
  border: 1px;  
  box-shadow: 0px 4px 6px 0px #A04D1826;
  padding: 20px;
}

.loginForm{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  justify-content: center;
  background-color: #FFF7F2;
  padding: 32px;
  width: 440px;
  height:524px;
  border-radius: 8px;
  gap: 25px;
}

.loginForm h1{
  font: normal 500 3.2rem/120% "Roboto";
  color:#461901;
}

.btn-Login{
  width: 384px;
  height: 48px;
  border-radius: 8px;
  gap: 10px;

  background-color:#461901;
  color: #FFF7F2;
  font: normal 700 1.6rem/150% "Roboto";
  text-align: center;
}

.button {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button a {
  color:#403833;
  font: normal 500 1.6rem/150% "Roboto";;
}

.emailInput{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.emailInput p{
  font: normal 400 1.2rem/150% "Roboto";
  color: #461901;
}
