.analysis-screen {
  background-color: var(--secondary-301);
  display: flex;
  height: 100%;
}

.analysis-content {
  
  flex: 1;
  margin-left: 3.8rem;
  margin-right: 6.8rem;
  align-items: flex-start;
}

.export-report {
  height: 96px;
  border-radius: 8px;
  background: #ffefe5;
  margin-top: 4.8rem;
  margin-bottom: 6.4rem;
  flex: 1;
  color: var(--secundria-03, #26211e);
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  padding-left: 50px;
  justify-content: space-between;
}

.button-report Button {
  color: var(--secundria-301, #fff7f2);
  text-align: center;

  /* Texto corrido/Bold */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  display: flex;
  margin-right: 50px;
}

.modal-personalized {
  width: 698px;
  height: 208px;
  background-color: #26211e;
}

.comparison-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 80.3rem;
  gap: 3rem;
 
}

.title-comparison {
  color: var(--secundria-02, #403833);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
width: 662px;
margin-bottom: 28px;

}
.weekly-comparison {
  width: 59.2rem;
  height: 80.3rem;
  background-color: red;
}

.monthly-comparison {
  width: 66.2rem;
  height: 80.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffefe5;
  flex-direction: column;
  gap: 30px;
  border-radius: 8px;
border: 2px solid rgba(255, 238, 229, 0.15);
background: #FFEFE5;
box-shadow: 0px 4px 6px 0px rgba(160, 77, 24, 0.15);
}
