.sideBarContainer {
  background-color: var(--secondary-204);
  width: 12.8rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.side-bar-logo-image {
  color: var(--secondary-301, #fff7f2);
  margin-top: 4rem;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 7rem;
}

.menuButton {
  width: 6.4rem;
  height: 4rem;
}

.myAcountButton {
  height: 9.6rem;
  width: 100%;
  border: 1px solid #883b11;
  display: flex;
  align-items: center;
  justify-content: center;
}
