.sideBarContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 125px;
  border-right: 1px solid rgb(207, 207, 207);
}

.expandButton {
  margin-top: 40px;
  height: 32px;
  width: 32px;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  height: 216px;
}

.menuButton {
  height: 40px;
  width: 40px;
}

.myAcountButton {
  height: 96px;
  width: 100%;
}
